@{
    ViewBag.Title = "我的会议";
    Layout = "~/Views/Shared/_LayoutTreeMenu.cshtml";
}
@section leftmainmenuul{
    <li>
        <a href="../Meet/MyDistributeList">
            <i class="icon icon-th"></i>
            导航栏
            <i class="icon icon-refresh"></i>
        </a>
    </li>
    <li>
        <a href="#" class="icon icon-play" id="">发起会议</a>
    </li>
    <li class="open">
        <a href="#"><i class="icon icon-paste"></i>我的发起</a>
        <ul>
            <li>
                <a href="#" linkurl="../Meet/MyDistributeList" title="发起并待激活的会议">已发起(@ViewBag.MyDistributeCount)</a>
            </li>
            <li>
                <a href="#" title="发起已激活的会议">已激活(@ViewBag.MyDistributeCount)</a>
            </li>
            <li>
                <a href="#" title="所有已发起的会议(含已取消)">发起记录</a>
            </li>
        </ul>
    </li>
    <li class="open">
        <a href="#"><i class="icon icon-time"></i>我的签收</a>
        <ul>
            <li class="active">
                <a href="#" title="未签收的会议">待签收(@ViewBag.MyDistributeCount)</a>
            </li>
            <li>
                <a href="#" title="已签收并待激活的会议">已签收(@ViewBag.MyDistributeCount)</a>
            </li>
            <li>
                <a href="#" title="所有已签收的会议(含已取消)">签收记录</a>
            </li>
        </ul>
    </li>
}
@RenderBody()