@using System.Web.Optimization
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/content/my.boot")
    @Styles.Render("~/content/my.grid")
    <!-- The fav icon -->
    <link rel="shortcut icon" href='@Url.Content("~/AppFrontend/images/logo_login_201903071223a.png")'/>
</head>
<body class="view-double page-open compact-mode compact-mode-in page-show page-show-in" data-page-accent="primary">
@Scripts.Render("~/js/my.jquery")
@Scripts.Render("~/js/my.jquery.ex")
@Scripts.Render("~/js/my.bootui")
@Scripts.Render("~/js/my.jqcustom")
@Scripts.Render("~/js/my.core")
@Scripts.Render("~/js/my.grid")
@RenderBody()
</body>
</html>