@using System.Web.Optimization
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/content/my.login")
</head>
<body style="padding-top: 0;">
<h1 style="margin-bottom: 0;">
    <img style="height: 160px; width: auto" src="~/AppFrontend/images/logo_login_201903071223b.png"/>
</h1>
<div class="contact">
    @Scripts.Render("~/js/my.jquery")
    @Scripts.Render("~/js/my.jquery.ex")
    @Scripts.Render("~/js/my.bootui")
    @RenderBody()
</div>
<div class="copyright">
    <p>
        版权所有 Amber.Wei 源代码:<a href="https://github.com/weishangxue/AmberMeet" target="_blank">https://github.com/weishangxue/AmberMeet</a>
    </p>
</div>
</body>
</html>