@{
    ViewBag.Title = "用户详细";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}
<form id="mainForm">
    <input type="hidden" id="userId" name="userId" value="@ViewData["userId"]"/>
    <input type="hidden" id="state" name="state" value="@ViewData["state"]"/>
    <div id="orgUserContainer" class="form-horizontal">
        <div id="orgUserErrorContainer" class="error"></div>
        <div class="form-group">
            <label for="loginName" class="col-sm-1">登录名</label>
            <div class="col-md-3 col-sm-5">
                <input type="text" class="form-control" id="loginName" name="loginName" value="@ViewData["loginName"]">
            </div>
            <label for="name" class="col-sm-1">姓名</label>
            <div class="col-md-3 col-sm-5">
                <input type="text" class="form-control" id="name" name="name" value="@ViewData["name"]">
            </div>
            <label for="sexMan" id="sexLabel" class="col-sm-1">性别</label>
            <div class="col-sm-2">
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="sex" value="@ViewBag.sexMan" checked="@ViewBag.sexManChecked" id="sexMan"> 男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="sex" value="@ViewBag.sexLady" checked="@ViewBag.sexLadyChecked" id="sexLady"> 女
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="mail" class="col-sm-1">邮箱</label>
            <div class="col-md-3 col-sm-5">
                <input type="text" class="form-control" id="mail" name="mail" value="@ViewData["mail"]">
            </div>
            <label for="mobile" class="col-sm-1">手机</label>
            <div class="col-md-3 col-sm-5">
                <input type="text" class="form-control" id="mobile" name="mobile" value="@ViewData["mobile"]">
            </div>
            <label for="birthday" class="col-sm-1">生日</label>
            <div class="col-md-2 col-sm-5">
                <input type="text" class="form-control" id="birthday" name="birthday" value="@ViewData["birthday"]">
            </div>
        </div>
        <div class="form-group">
            <label for="code" class="col-sm-1">编号</label>
            <div class="col-md-3 col-sm-5">
                <input type="text" class="form-control" id="code" name="code" value="@ViewData["code"]">
            </div>
            <label for="stateName" class="col-sm-1">状态</label>
            <div class="col-md-3 col-sm-5">
                <span class="form-control" id="stateName" name="stateName">@ViewData["stateName"]</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-10">
                <div class="btn-group">
                    <input class="btn" type="button" id="cancleButton" value="注销"/>
                    <input class="btn" type="button" id="reactivationButton" value="重新启用"/>
                    <input class="btn" type="button" id="resetPasswordButton" value="重设密码"/>
                    <button class="btn" id="saveButton">保存</button>
                    <a href="UserList" class="btn">返回</a>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/AppFrontend/view-resources/Organization/UserDetail.js"></script>